@charset "utf-8";
body {
  height: 100%;
}

main {
  height: 100%;
}

/* 
  html{
    height:100%;
  } */

#main_img {
  padding-top:80px;
  /* position: relative; */
  /*相対位置への配置 */
  /* width:480px;
  height:780px;
  width: 100%;
  margin:0 auto;
  background:#008080;
  /* object-fit:cover; */
  /* height: calc(100vh-220px); */
}

#main_img img {
  /* position:absolute;/*絶対位置、親ボックスの左上が基準位置*/
  width: 100%;
  /* height: calc(100vh-3000px); */
  height: calc(100vh-220px);
  position: relative;
}

.main_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
}

.main_logo {
  width: 300px;
  color: rgba(255, 255, 255, 0.6);
}

.home_container {
  width: 100%;
  height: calc(100vh-220px);
}

@media screen and (min-width:561px) {
  #main_img {
    /*  width: 845px;
  margin:0 auto;*/
  }
  #main_img img {
    /*width: 100%;
  height: 480;
  object-fit:cover;
  background: #fff;
  width:100%;
  margin:0 auto;*/
  }
  .home_container {
    /*width: 845px;
  max-width: 100%;
  background-color: #ffffff;
  position: relative;*/
    /*相対位置*/
    /* width: 100vh;*/
    /*height:100vh; */
  }
  .footer {
    height: auto;
  }
  #fix_header {
    /* display:none; */
  }
}

.page_title {
  padding: 0px 20px;
  height: 16px;
}

/* * {
  border: 1px solid red!important;
} */