@charset "utf-8";
#shop_img img {
  /* border-radius: 50%; */
  object-fit: cover;
  margin: 0 auto;
}

#shop_img {
  background: #fff;
}

.addres h2 {
  font-style: oblique;
  font-size: 32px;
  text-align: left;
  padding: 20px 0 20px 40px;
  -webkit-text-stroke: 1px #000;
  text-shadow: 4px 4px 0 #fff;
  margin-top: 80px;
  border-bottom: 2px solid #008080;
}

.addres p {
  padding-left: 20px;
  text-align: left;
}

.map {
  max-width: 400px;
  padding: 40px 0;
  margin: 0 auto;
}

.map .ad {
  line-height: 1.5em;
}

.map .ad p {
  padding: 10px;
}

.map .phone {
  padding-top: 40px;
  text-align: right;
  font-size: 28px;
}

.map .phone a {
  color: #000;
}

.map i {
  padding: 8px;
}

.map2 {
  padding: 40px;
}

.map img {
  margin-bottom:40px;
  max-width: 80%;
}

.maplink {
  position: relative;
  z-index: 1;
  border: 2px solid rgb(95, 92, 80);
  width: 320px;
  height: 60px;
  margin: 0 auto;
  font-size: 32px;
  -weblit-transiton: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.maplink a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  text-decoration: none;
  padding-top: 12px;
}

.maplink :hover {
  background: rgb(190, 190, 190);
  border: none;
}

/* 
*{
  border:1px solid red!important;
} */

.map iframe {
  display: none;
}